html, body, main{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Arial', sans-serif;
    font-size:1.5em;
    color: #4d4d4d;
}

* {margin: 0; padding: 0;}
:root, body, marquee { width: 100%; height: 100%;}

a{
    display:block;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5vh;
}

.contonehome{
    Width:100%;
    height:41%;
    background:#ffffff;
    display:block;
}
.contonename{
    Width:100%;
    height:41%;
    max-height: 425px;
    background:#ffffff;
    display:inline-block;
    margin-bottom: 40px;
}
.contonelic{
    Width:100%;
    height:41%;
    max-height: 190px;
    background:#ffffff;
    display:block;
}
.contone{
    Width:100%;
    height:41%;
    min-height: 525px;
    background:#ffffff;
    display:inline-block;
    margin-bottom: 40px;
}
.projectcont{
    display:block;
}
#volumeiconon{
    display:none;
    position:absolute;
    right:6%;
    top:6%;
    width:12%;
    min-width:20px;
    max-width:60px;
    cursor: pointer;
    z-index: 2;
}
#volumeiconmute{
    position:absolute;
    right:6%;
    top:6%;
    width:12%;
    min-width:20px;
    max-width:60px;
    cursor: pointer;
    z-index: 2;
}
.typefaceapologeticsicon{
    position:absolute;
    right:6%;
    top:16%;
    width:12%;
    min-width:22px;
    max-width:60px;
    cursor: pointer;
    z-index: 2;
}
.typefaceapologeticstext{
    position:absolute;
    opacity:0%;
    left:35px;
    top:350px;
    width: 95%;
    max-width:350px;
    transition: all .2s ease;
    transform:rotate(180deg);
    z-index:-2;
    color:#333333;
    font-size: 25%;
    cursor: pointer;
    display: none;
    overflow: auto;
}
.typefaceapologeticstext.expand{
    position:absolute;
    display:inline;
    opacity:100%;
    left:35px;
    top:35px;
    width: 65%;
    max-width:350px;
    transition: all .2s ease;
    transform:rotate(0deg);
    z-index:2;
    color:#333333;
    font-size: 25%;
    cursor: pointer;
    overflow: auto;
}
.typefaceapologeticscover{
    display:none;
    position: absolute;
    z-index: 1;
    width:100%;
    height:59%;    
    bottom:0px;
    background-color: #333333;
}
.typefaceapologeticscover.expand{
    display:block;
    position:absolute;
    z-index: 1;
    width:100%;
    height:59%;
    bottom:0px;
    background-color: #ffffff;
}

.arrowimg{
    position:relative;
    width:40px;
    vertical-align: middle;
    bottom:2px;
    right:8%;
    transform: rotate(90deg);
}
.arrowlink{
    display: inline;
}

.wordmark{
    width:250px;
    position: relative;
    animation: moveX 3.5s linear 0s infinite alternate, 
               moveY 3s linear 0s infinite alternate;
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100% - 250px); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(100% - 67px); }
}


.conttwo{
    position:relative;
    Width:100%;
    height:16.7%;
    bottom:16.7%;
    background:#f6ba0d;
    color:#c70039;
    cursor:pointer;

}
.conttwoback{
    display:block;
    position:relative;
    Width:100%;
    height:16.7%;
    cursor:pointer;
}
.conttwoa{
    position:relative;
    Width:100%;
    height:33.3%;
    background:#ffd843;
    color:#c70039;
    cursor:pointer;

}
.conttwob{
    position:relative;
    Width:100%;
    height:33.3%;
    background:#f6ba0d;
    color:#c70039;
    cursor:pointer;
}
.conttwoc{
    position:relative;
    Width:100%;
    height:33.4%;
    background:#d19712;
    color:#c70039;
    cursor:pointer;
}

.contthree{
    position:relative;
    display: block;
    Width:100%;
    height:16.7%;
    background:#fe5733;
    color:#f6ba0d;
    bottom:16.7%;

}

.contfour{
    position:relative;
    Width:100%;
    height:16.7%;
    background:#c70039;
    color:#f6ba0d;
    bottom:33.4%;
    cursor:pointer;

}
.contfourback{
    display:block;
    position:relative;
    Width:100%;
    height:16.7%;
    bottom:16.7%;
    cursor:pointer;
    }
.contfoura{
    position:relative;
    Width:100%;
    height:50%;
    background:#c70039;
    color:#f6ba0d;
    cursor:pointer;
}
.contfourb{
    position:relative;
    Width:100%;
    height:50%;
    background:#a60234;
    color:#f6ba0d;
    cursor:pointer;
}

.contfive{
    position:relative;
    Width:100%;
    height:8.9%;
    background:#e6e6e6;
    color:#333333;
    bottom:33.4%;
    z-index:3;
    cursor:pointer;
}
.contfive.expand{
    position:relative;
    Width:100%;
    height:8.9%;
    background:#e6e6e6;
    color:#e6e6e6;
    bottom:33.4%;
    z-index:3;
}
.contfiveimg{
    position:relative;
    display:block;
    max-width:5%;
    visibility:hidden;
    margin:auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    margin-left:47.5%;
}

.contfiveimg.expand{
    visibility:visible;
}

.contsix{
    position:fixed;
    width:72%;
    height:0%;
    margin:14%;
    margin-bottom:0%;
    border-radius: 25px;
    background:#e6e6e6;
    color:#333333;
    bottom:0px;
    transition: all .2s ease;
    z-index:1;
}

.contsix.expand{
    height:91.7%;
}

.background{
    position: absolute;
    background-color: aqua;
    width:100%;
    height: 100%;
    top:0px;
    display: none;
}

#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43.5%;
    padding:3%;
    min-width: 100px;
    max-width: 500px;
}
#aboutme{
  display: block;
  text-align: center;
    font-weight:500;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
    font-size: 2.5vh;
}
#twitter{
    position:relative;
    width:6%;
    vertical-align: bottom;
    bottom:2px;
    margin-right:5px;
}

#centremenuone{
    font-size: 80%;
    font-weight:650;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#centremenutwo{
    font-size: 30%;
    font-weight:600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centremenuthreea{
    font-size: 60%;
    font-weight:600;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centremenuthreeb{
    font-size: 55%;
    font-weight:600;
    height: 8%;
    position: relative;
    text-align: center;
    left: 50%;
    top: 7.5%;
    transform: translate(-50%, -50%);
}

.logonoborder{
    display:block;
    width:24%;
    min-width: 80px;
    margin-left:auto;
    margin-right:auto;
    padding-top:12px;
}
h2{
    display:block;
    text-align: center;
    font-size: 58%;
    color: #4d4d4d;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
    padding-left: 6%;
    padding-right: 6%;
}
.projecttitle{
    transform: translateX(-15px)
}
.description{
    display:block;
    text-align: center;
    width:80%;
    font-size:40%;
    color:#4d4d4d;
    margin-left:auto;
    margin-right:auto;
    margin-top:8%;
}    
.projectimage{
    display:block;
    width:86%;
    margin-left:6%;
    margin-right:8%;
    margin-bottom:6%;
    border-color: #808285;
    border-width:1px;
    border-style: solid;
}
.caption{
    display:block;
    margin-left:6%;
    margin-bottom:80px;
    font-size:40%;
    font-style: oblique;
}
.liqouriceimg{
    display:block;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:6%;
    transform: translateX(6px);
    box-shadow: 3px 3px #d1d3d4, 6px 6px #bcbec0, 9px 9px #d1d3d4;}
.randombutton{
    border-radius: 25px;
    background-color: #e6e6e6;
    width:45%;
    min-width:180px;
    color:#333333;
    font-size: 3.5vh;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    line-height: 250%;
    margin-bottom:20px;
}

.logorain{
    overflow:hidden;
}
#world{
    height:100%;
    z-index:5;
}

.overlaybuttonone, .overlaybuttontwo{
    position:relative;
    border-radius: 25px;
    background-color: #e6e6e6;
    width:45%;
    max-width: 350px;
    color:#333333;
    font-size: 3.5vh;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    line-height: 250%;
    z-index: 4;
}
.overlaybuttonone.expand, .overlaybuttontwo.expand{
    position:relative;
    border-radius: 25px;
    background-color: #e6e6e6;
    width:35%;
    max-width: 350px;
    color:#333333;
    font-size: 50%;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:35px;
    line-height: 180%;
    z-index: 4;
    visibility:hidden;
}
.overlayone, .overlaytwo{
    visibility:hidden;
    display:relative;
    position:absolute;
    width:100%;
    opacity:100%;
    background:#333333;
}
.overlayone.expand, .overlaytwo.expand{
    visibility:visible;
    position:relative;
    width:100%;
    opacity:100%;
    background:#ffffff;
}
.overlayexitone, .overlayexittwo{
    position:relative;
    width:40px;
    top:-50px;
    transform: rotate(90deg);
    margin-left:6%;
}
.poemimage{
    position:absolute;
    top:50%;
    left:12.5%;
    width:75%;
    opacity:100%;
    overflow:hidden;
}

.projectimagegreen{
    box-shadow:10px 10px #9fc5a5;
    border-style:none;
}
.projectimagedot{
    box-shadow:10px 10px #7f7ea1;
}
.projectimagegumdrop{
    box-shadow:10px 10px #cc8f9f;
    border-style:none;
}
.projectimagepara{
    box-shadow:10px 10px #8baecd;
}
.projectimagerainace{
    box-shadow:10px 10px #92add1;
}
.projectimagesunshots{
    box-shadow:10px 10px #ed8f71;
}
.projectimagetruenorth{
    box-shadow:10px 10px #c35758;
}
.projectimagetruenorth{
    box-shadow:10px 10px #ebac5c;
}
.projectimagetypology{
    box-shadow:10px 10px #ef9bbd;
    border-style:none;
}
.projectimageherve{
    box-shadow:10px 10px #e8d36c;
    border-style:none;
}
.projectimageembers{
    box-shadow:10px 10px #ec4b32;
    border-style:none;
}
.projectimagesilver{
    box-shadow:10px 10px #4e87a2;
    border-style:none;
}
.projectimagerose{
    box-shadow:10px 10px #fbaab2;
    border-style:none;
}
.projectimagewave{
    box-shadow:10px 10px #8087a7;
    border-style:none;
}

.allprojects{
    height:69%;
    display:table;
    margin-bottom:60px;
}
.projectwrapper{
    position: relative;
    width:44%;
    height:22%;
    float:left;
    display: block;
    margin-left: 4%;
    margin-bottom:4%;
    float:clear;
}
.link{
    position:relative;
    margin: 0 auto;
    display:inline-block;
    height:100%;
    width:100%;
}
.projecticon{
    display:block;
    width:100%;
    border-radius: 25px;
    
}
.projectlink{
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
    font-size: 5.5vw;
    width: 85%;
    color: #ffffff;
    font-weight: 600;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.allprojectstwo{
    height:69%;
    margin-bottom:60px;
}
.projectwrappertwo{
    position: relative;
    width:92%;
    height:44%;
    float:left;
    display: block;
    margin-left: 4%;
    margin-bottom:25%;
    float:clear;
}
.linktwo{
    position:relative;
    margin: 0 auto;
    display:inline-block;
    height:100%;
    width: 100%;
}
.projecticontwo{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
}
.projectlinktwo{
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
    font-size: 5.5vw;
    width: 85%;
    color: #ffffff;
    font-weight: 600;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.footer{
    position: absolute;
    bottom:0;
    font-size: 4vw;
    text-align: right;
    width:100%;
    height:7vh;
    background-color:#fffdf0;
}
.footer::before{
    position:absolute;
    content:' ';
    width:100%;
    left:0px;
    height:3px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,211,13,1) 88%, rgba(246,172,13,1) 100%);
}
#footertext{
    position:relative;
    margin-right:8%;
    top:25%;
    font-size: 70%;
}

.logorainfooter{
    position:sticky;
    font-size: 1.75vh;
    float:left;
    bottom:0;
    text-align: right;
    width:100%;
    height:5vh;
    background-color:#fffdf0;
    z-index: 100;
}
.paintingfooter{
    bottom:0;
    font-size: 1.75vh;
    text-align: right;
    width:100%;
    height:5vh;
    background-color:#fffdf0;
}
.paintingfooter::before{
    position:absolute;
    content:' ';
    width:100%;
    left:0px;
    height:3px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,211,13,1) 88%, rgba(246,172,13,1) 100%);
}