html, body, main{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Arial', sans-serif;
    font-size:1.3em;
    color: #4d4d4d;

}

* {margin: 0; padding: 0;}
:root, body, marquee { width: 100%; height: 100%;}

a{
    display:block;
}
img{
    width:75%;
    margin-left:12.5%;
    display:flex;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 5vh;
}

.disclaimer{
    position:absolute;
    top:10%;
    margin-left: 25%;
    z-index: 998;
    opacity: 100%;
    transition: all .2s ease;
    width: 50%;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
    pointer-events:all;
    display: block;
    visibility: visible;
    font-size:40%;
}
.disclaimer.expand{
    position:absolute;
    top:10%;
    margin-left: 25%;
    z-index: 998;
    opacity: 0%;
    transition: all .2s ease;
    width: 50%;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.5);
    pointer-events:none;
    display: none;
    visibility: hidden;
}
.disclaimerimage{
    position:relative;
    display:block;
    width:100%;
    box-shadow: none;
    margin-left: 0px;
}
.disclaimerexit{
    width:30px;
    margin-left:100%;
    top:-50px;
    right:-50px;
    position:absolute;
    display:block;
    float:left;
    box-shadow: none;
}
.disclaimerparagraph{
    position:relative;
    display:inline-block;
    top:20px;
    padding-bottom: 25px;
    width:66%;
    margin-left:34%;
    text-align: right;
    font-size:1.3em;
}
.disclaimerblur{
    transition: all .2s ease;
    filter: grayscale(1)  blur(15px); 
    height:100%;
    pointer-events: none;
}
.disclaimerblur.expand{
    filter: grayscale(0) blur(0px);
    pointer-events:all;
}

.contonehome{
    Width:100%;
    height:55%;
    background:#ffffff;
    display:block;
}
.contonename{
    Width:100%;
    height:55%;
    min-height: 400px;
    display:block;
}

.contonelic{
    Width:100%;
    height:41%;
    max-height: 250px;
    background:#ffffff;
    display:block;
}
.contone{
    Width:100%;
    height:41%;
    min-height: 400px;
    display:block;
}
#volumeiconon{
    display:none;
    position:absolute;
    right:25px;
    top:25px;
    width:35px;
    cursor: pointer;
    box-shadow: none;
}
#volumeiconmute{
    position:absolute;
    right:25px;
    top:25px;
    width:35px;
    cursor: pointer;
    box-shadow: none;
}
.typefaceapologeticsicon{
    position:absolute;
    right:25px;
    top:85px;
    width:40px;
    cursor: pointer;
    z-index: 2;
    box-shadow: none;
}
.typefaceapologeticstext{
    position:absolute;
    opacity:0%;
    right:250px;
    top:350px;
    width:25%;
    min-width: 350px;
    transition: all .2s ease;
    transform:rotate(180deg);
    z-index:-3;
    color:#333333;
    font-size: 40%;
    cursor: pointer;
    display:inline-block;
    overflow: auto;
}
.typefaceapologeticstext.expand{
    position:absolute;
    opacity:100%;
    right:75px;
    top:85px;
    width:25%;
    min-width: 350px;
    transition: all .2s ease;
    transform:rotate(0deg);
    z-index:1;
    color:#333333;
    font-size: 40%;
    cursor: pointer;
    overflow: auto;
}
.typefaceapologeticscover{
    display:none;
    z-index: 2;
    width:100%;
    height:59%;
    background-color: #333333;
}
.arrowimg{
    position:relative;
    width:35px;
    vertical-align: middle;
    bottom:2px;
    right:8%;
    transform: rotate(90deg) translateY(-25px);
    box-shadow: none;
}
.arrowlink{
    float:left;
}
.parrowlink{
    float:left;
margin-top:8px;
}

.wordmark{
    width:400px;
    margin-left:0px;
    position: relative;
    animation: moveX 3.5s linear 0s infinite alternate, 
               moveY 3s linear 0s infinite alternate;
    box-shadow: none;
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100% - 400px); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(100% - 107px); }
}

.conttwo{
    position:relative;
    Width:100%;
    height:8%;
    bottom:8%;
    background:#f6ba0d;
    color:#c70039;
    cursor:pointer;

}
.conttwoback{
    display:block;
    position:relative;
    Width:100%;
    height:8%;
    cursor:pointer;
}
.conttwoa{
    position:relative;
    Width:100%;
    height:33.3%;
    background:#ffd843;
    color:#c70039;
    cursor:pointer;

}
.conttwob{
    position:relative;
    Width:100%;
    height:33.3%;
    background:#f6ba0d;
    color:#c70039;
    cursor:pointer;
}
.conttwoc{
    position:relative;
    Width:100%;
    height:33.4%;
    background:#d19712;
    color:#c70039;
    cursor:pointer;
}

.contthree{
    position:relative;
    display: block;
    Width:100%;
    height:8%;
    background:#fe5733;
    color:#f6ba0d;
    bottom:8%;

}

.contfour{
    position:relative;
    Width:100%;
    height:8%;
    background:#c70039;
    color:#f6ba0d;
    bottom:16%;
    cursor:pointer;

}
.contfourback{
    display:block;
    position:relative;
    Width:100%;
    height:8%;
    bottom:8%;
    cursor:pointer;
    }
.contfoura{
    position:relative;
    Width:100%;
    height:50%;
    background:#c70039;
    color:#f6ba0d;
    cursor:pointer;
}
.contfourb{
    position:relative;
    Width:100%;
    height:50%;
    background:#a60234;
    color:#f6ba0d;
    cursor:pointer;
}

.contfive{
    position:absolute;
    Width:100%;
    height:4.35%;
    background:#e6e6e6;
    color:#333333;
    bottom:0px;
    z-index:2;
    cursor:pointer;
}
.contfive.expand{
    position:absolute;
    Width:100%;
    height:4.35%;
    background:#e6e6e6;
    color:#e6e6e6;
    bottom:0px;
    z-index:2
}
.contfiveimg{
    position:relative;
    display:block;
    height:22.5%;
    max-width:35px;
    visibility:hidden;
    margin:auto;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contfiveimg.expand{
    visibility:visible;
    box-shadow:none;
}

.contsix{
    position:fixed;
    width:400px;
    height:0%;
    margin-bottom:0%;
    border-radius: 25px;
    background:#e6e6e6;
    color:#333333;
    bottom:0px;
    transition: all .2s ease;
    z-index:1;
    transform: translate(calc(50vw - 200px),0px);
}
.contsix.expand{
    height:91.7%;
}

.background{
    position: absolute;
    width:100%;
    height: 16.7%;
    top:79%;
    z-index: 1;
}

#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    max-width: 350px;
    box-shadow: none;    
}
#aboutme{
  display: block;
  text-align: center;
    font-weight:500;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
    font-size: 35%;
    overflow: none;
}
#twitter{
    position:relative;
    width:17px;
    vertical-align: bottom;
    bottom:2px;
    margin-right:5px;
    margin-left:0px;
    display:inline;
    box-shadow: none;
}

#centremenuone{
    font-size: 65%;
    font-weight:650;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#centremenutwo{
    font-size: 33%;
    font-weight:600;
    width:100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centremenuthreea{
    font-size: 60%;
    font-weight:600;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centremenuthreeb{
    font-size: 55%;
    font-weight:600;
    position: relative;
    text-align: center;
    left: 50%;
    padding:5%;
    top: 3%;
    transform: translate(-50%, -50%);
}

.logonoborder{
    display:block;
    width:24%;
    max-width: 250px;
    margin-left:auto;
    margin-right:auto;
    padding-top:12px;
    box-shadow: none;
}   
h2{
    display:block;
    text-align: center;
    font-size: 80%;
    color: #4d4d4d;
    margin-left:auto;
    margin-right:auto;
    margin-top:2.5%;
    padding-left: 6%;
    padding-right: 6%;
}
.htwoarrow{
        transform: translateX(-25px);
}
.parrow{
        transform: translateX(-20px);
    background-color:black;
    color:fuchsia;
}
.projecttitle{
    transform: translateX(-15px)
}
.browseprojecttitle{
    transform: translateX(0px)
}
.description{
    display:block;
    text-align: center;
    width:80%;
    max-width: 600px;
    font-size:40%;
    color:#4d4d4d;
    margin-left:auto;
    margin-right:auto;
    margin-top:4%;
}    
.col{

}
.projectcont{
        width:100%;
}
.projectcont:after{
  content: "";
  display: table;
  clear: both;
}

.logorain, .index{
    overflow:hidden;
}
#world{
    height:100%;
    z-index:5;
    position:absolute;
    bottom:-25%;
}


.projectimage, .projectimagepink{
    display:block;
    position:relative;
    max-width: 840px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:6%;
}
.projectvideotruenorth{
    display:block;
    width:75%;
    max-width:840px !important;
    min-height: 315px;
    height:25vw;
    margin-left:12.5%;
    margin-right:12.5%;
}
.projectimagesilver, .projectimageembers, .projectimagerose, .projectimagewave{
    display: block;
        top:50%;
    width:35%;
    max-width: 500px;
        float:none;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}
.noboxshadow{
        box-shadow: none;

}
.projectimage::before{
    position:absolute;
    z-index:-5;
    content:' ';
    width:60%;
    margin-left:20%;
    left:0px;
    height:25px;
    transform:translate(0,-23px);
    border-radius: 25px 25px 0px 0px;
    background-color: #eeeeff;

}
.projectimagesilver::before, .projectimageembers::before, .projectimagerose::before, .projectimagewave::before{
        background-color: #FFFFFF;

}
.caption{
    position:relative;
    display:block;
    margin-left:20%;
    margin-right:20%;
    padding:4%;
    margin-bottom:120px;
    font-size:40%;
    font-style: oblique;
    border-radius: 0 0 25px 25px;
    transform: translateY(-10px);
    z-index: -5;
    background-color: #eeeeff;
}
.captionpink{
    font-style:normal;
}
.captionquote{
    font-style:italic;
    background-color: #FFFFFF;
}
.captionsilver, .captionembers, .captionrose, .captionwave{
    background-color: #FFFFFF;
}

.liqouriceimg{
    display:block;
    width:35%;
    max-width: 350px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4%;
    box-shadow: 3px 3px #d1d3d4, 6px 6px #bcbec0, 9px 9px #d1d3d4;
    box-shadow: none;
}
.randombutton{
    border-radius: 25px;
    background-color: #e6e6e6;
    width:35%;
    max-width: 350px;
    color:#333333;
    font-size: 50%;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:55px;
    line-height: 50px;
    
}

.overlaybuttonone, .overlaybuttontwo, .pledgelink{
    position:relative;
    border-radius: 25px;
    background-color: #e6e6e6;
    width:35%;
    max-width: 350px;
    color:#333333;
    font-size: 50%;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:35px;
    line-height: 50px;
    z-index: 4;
}
.overlaybuttonone.expand, .overlaybuttontwo.expand{
    position:relative;
    border-radius: 25px;
    background-color: #e6e6e6;
    width:35%;
    max-width: 350px;
    color:#333333;
    font-size: 50%;
    text-align: center;
    text-decoration: none;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:35px;
    line-height: 180%;
    z-index: 4;
    display: none;
}
.overlayone, .overlaytwo{
    display:none;
    position:absolute;
    width:100%;
    opacity:100%;
    background:#333333;
}
.overlayone.expand, .overlaytwo.expand{
    display:block;
    position:relative;
    width:100%;
    opacity:100%;
    background:#ffffff;
}
.overlayexitone, .overlayexittwo{
    width:40px;
    transform: rotate(90deg);
    margin-left:30%;
    top:-82.5px;
    position:relative;
    box-shadow: none;
}
.poemimage{
    position:absolute;
    top:50%;
    left:40%;
    width:20%;
    opacity:100%;
    overflow:hidden;
    margin-left:0px;
    display:block;
    box-shadow: none;
}

.pdfviewerpc{
    display:block;
    position:relative;
    max-width: 840px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:6%;
}
.pdfviewermob{
    display:none;
    width:95%;
    max-width: 2000px;
    margin-bottom:6%;
    margin-left:2.5%;
}


/*

.captiongreen, .projectimagegreen::before{
        background:#8bd637;
}
.captionpink, .projectimagepink::before{
        background:#FF69B4;
}
.captiondot, .projectimagedot::before{
        background:#6e69ff;
}
.captiongumdrop, .projectimagegumdrop::before{
        background:#ff4576;
}
.captionpara, .projectimagepara::before{
        background:#66b7ff;
}
.captionrainace, .projectimagerainace::before{
        background:#579fff;
}
.captionsunshots, .projectimagesunshots::before{
        background:#ff5d29;
}
.captiontruenorth, .projectimagetruenorth::before{
        background:#ff2b2d;
}
.captionyoungguns, .projectimageyoungguns::before{
        background:#fcba03;
    color:#FFFFFF;
}
.captiontypology, .projectimagetypology::before{
        background:#FF6699;
}
.captionherve, .projectimageherve::before{
        background:#fff200;
}
.captionembers, .projectimageembers::before{
        background:#ec4b32;
}
.captionsilver, .projectimagesilver::before{
        background:#747eff;
}
.captionrose, .projectimagerose::before{
        background:#ff78ab;
}
.captionwave, .projectimagewave::before{
        background:#8bd637;
}

*/




.allprojects{
    position:absolute;
    width:90%;
    margin-top:10%;
    margin-bottom:60px;
    margin-left: 10%;
    margin-right: auto;
}
.projectwrapper{
    position: relative;
    width:10.7%;
    height:22%;
    display: inline-block;
    margin-bottom:4%;
}
.link{
    position:relative;
    margin: 0 auto;
    display:inline-block;
    height:100%;
    width:100%;
}
.projecticon{
    display:block;
    width:100%;
    border-radius: 25px;
    margin-left:0%;
}
.projectlink{
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
    font-size: 1.1vw;
    width: 85%;
    color: #ffffff;
    font-weight: 600;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.dotlink{
    font-size:0.9vw;
}
.pledgelink{
    background-color:#FE036A;
    color:#FFFFFF;
    padding:40px;
    max-width:160px;
    height:188px;
    height:188px;
    text-decoration: underline;
    font-weight:700;
    font-size: 0.7em;
    clip-path: polygon(20% 4%, 32% 14%, 40% 2%, 52% 13%, 64% 3%, 73% 12%, 88% 6%, 84% 19%, 95% 28%, 83% 33%, 82% 48%, 69% 39%, 60% 48%, 49% 38%, 38% 48%, 31% 37%, 16% 45%, 15% 31%, 3% 24%, 15% 16%);
}

.allprojectstwo{
    width:75%;
    height:69%;
    margin-bottom:60px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.projectwrappertwo{
    position: relative;
    display: inline;
    width:42%;
    height:44%;
    float:left;
    display: block;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom:4%;
    float:clear;
}
.linktwo{
    position:relative;
    margin: 0 auto;
    display:inline-block;
    height:100%;
    width: 100%;
}
.projecticontwo{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
    margin-left:0px;
}
.projectlinktwo{
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
    font-size: 3.5vw;
    width: 85%;
    color: #ffffff;
    font-weight: 600;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    position: absolute;
    display:block;
    bottom:0px;
    padding-left:0;
    font-size: 1vh;
    text-align: right;
    width:100%;
    height:4.25vh;
    background-color:#fffdf0;
}
.footer::before, .logorainfooter::before, .poemfooter::before, .typofooter::before{
    position:absolute;
    content:' ';
    width:100%;
    left:0px;
    height:3px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,211,13,1) 88%, rgba(246,172,13,1) 100%);
}

.footertwo::before{
    position:absolute;
    content:' ';
    width:40%;
    left:60%;
    height:3px;
background: rgb(255,255,255);
background: yellow;
}
.footertwo{
    position: absolute;
    bottom:0;
    padding-left:0;
    font-size: 1vh;
    text-align: right;
    width:100%;
    height:4.25vh;
    background-color:#fffdf0;
    color:white;
    font-style:sans-serif;
}

.footertext{
    position:relative;
    display:inline-block;
    top:1.5vh;
    font-size: 1vh;
    float:none;
}
#footermargin{
    margin-right:6vh; 
}


#pcontent-wrap {
  padding-bottom: 5vh;
  display: inline-block;
  width:100%;
  height: 95%;
}
.logorainfooter{
    position: absolute;
    font-size: 1.75vh;
    float:left;
    bottom:0px;
    text-align: right;
    width:100%;
    height:5vh;
    background-color:#fffdf0;
    z-index: 1000;
    display:block;
}
.poemfooter{
    position: absolute;
    display:block;
    bottom:0px;
    font-size: 1.75vh;
    float:left;
    text-align: right;
    width:100%;
    height:5vh;
    background-color:#fffdf0;
}
.typofooter{
    position:absolute;
    display:static;
    bottom:0px;
    font-size: 1vw;
    padding-left:0;
    text-align: right;
    width:100%;
    height:4.25vh;
    background-color:#fffdf0;
}

.poemscraps{
    overflow:hidden;
}
.poemfooter.expand{
    visibility: hidden;
}
.paintingfooter{
    position: absolute;
    font-size: 1.75vh;
    float:left;
    bottom:0;
    text-align: right;
    width:100%;
    height:5vh;
    background-color:#fffdf0;
}
.paintingfooter::before{
    position:absolute;
    content:' ';
    width:100%;
    left:0px;
    height:3px;
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,211,13,1) 88%, rgba(246,172,13,1) 100%);
}